<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">About Super Rentals</h2>

      <p class="mt-4 text-gray-600 block">
        The Super Rentals website is a delightful project created to explore Ember.
        By building a property rental site, we can simultaneously imagine traveling
        AND building Ember applications.
      </p>
      <LinkTo
        @route="contact"
        class="inline-block rounded bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400 mt-6"
        data-test-button
      >Contact Us</LinkTo>
    </div>
  </div>

  <img
    alt="super rentals"
    src="/assets/images/teaching-tomster.png"
    class="scale-50 h-90 object-cover sm:h-full"
  />
</section>
