<Jumbo>
  <h2 class="text-3xl sm:text-4xl font-medium mb-6">Contact Us</h2>

  <p class="mb-10 sm:mb-12 block">
    Super Rentals Representatives would love to help you choose a destination or
    answer any questions you may have.
  </p>
  <address class="mt-6">
    <h4 class="mb-6">Super Rentals HQ</h4>
    <p class="text-gray-500 mb-6">1212 Test Address Avenue</p>
    <p class="text-gray-500 mb-6">Testington, OR 97233</p>
  </address>
</Jumbo>
