<Jumbo>
  <h2 class="text-3xl sm:text-4xl font-medium mb-6">Welcome to Super Rentals!</h2>

  <p class="mb-10 sm:mb-12">
    We hope you find exactly what you're looking for in a place to stay.
  </p>
</Jumbo>
